@model GosserandProject.Models.ViewModels.Admin.PageManagement.PageManagementViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mdl-grid" style="max-width:98%;">
    <div class="mdl-cell mdl-cell--10-col">
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <td>Page Title</td>
                    <td class="">Page Description</td>
                    <td>Author</td>
                    <td>Page Modified</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var pageDetail in Model.Pages)
                {
                    <tr>
                        <td>
                            @pageDetail.PageTitle
                        </td>
                        <td>
                            @pageDetail.PageDescription
                        </td>
                        <td>
                            @pageDetail.AuthorUsername
                        </td>
                        <td>
                            @pageDetail.ModifiedDate.ToShortDateString()
                        </td>
                        <td>
                            <a asp-controller="PageManagement" asp-action="Detail" asp-route-id="@pageDetail.PageId">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            new Vue({
                el: '#app',
                data: {
                    test: "Hello World!",
                    columns: [
                        { title: 'Page Title', field: 'pageTitle', type: 'string' },
                        { title: 'Page Description', field: 'pageDescription', type: 'string' },
                        { title: 'Author Username', field: 'authorUsername', type: 'string' },
                        { title: 'Page Last Modified', field: 'modifiedDate', type: 'string' }
                    ],
                    items: [

                    ]

                },
                computed: {


                },
                methods: {
                    isString(val) {
                        return typeof (val) == 'string';
                    },
                    getRowData() {
                        axios.get("/api/pagemanagement/getpages").then(resp => {

                            console.log(resp);
                            if (resp.status == 200)
                                this.items = resp.data;

                        });

                    }
                },
                mounted() {
                    this.getRowData();

                }

            });
        });

    </script>
}